.cartContainer{
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    margin: 36px 0px;
}

.cartContainer .productsContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    gap: 16px;
    position: relative;
}

.cartContainer .productCard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cartContainer .productCard .emptyList{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
}

.cartContainer .productValue{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    gap: 32px;
    padding: 16px;
    border-radius: 8px;
    z-index: 100000;
}

.cartContainer .productValue .row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.cartContainer .productValue .row input{
    width: 8rem;
}

.cartContainer .productValue .row button{
    margin-top: 24px;
    border-radius: 5px;
    padding: 4px 16px;
}

.cartContainer .productValue h2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 1.5rem;
}

.cartContainer .productValue .priceProduct{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px 24px;
    background-color: #eee;
    border-radius: 8px;
}

.cartContainer .productValue ul li{
    list-style: disc;
    font-family: var(--principal-font);
    font-size: 14px;
    transition: .5s;
}

.cartContainer .productValue ul li.remove{
    color: rgba(216, 0, 0, 0.521);
}

.cartContainer .productValue .deliveryContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
}

.cartContainer .productValue .deliveryContainer button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    border: 2px solid #c4c4c4;
    background-color: #fff;
    color: #c4c4c4;
    border-radius: 8px;
}

.cartContainer .productValue .deliveryContainer button.active{
    border-color: transparent;
    background-color: #222;
    color: #fff;
    transition: .3s;
}

.cartContainer .productValue label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: var(--principal-font);
}

.cartContainer .productValue label input{
    font-size: 1rem;
    font-family: var(--principal-font);
    padding: 4px;
}

.cartContainer .productValue .columnMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.cartContainer .productValue .columnMenu h3{
    font-family: var(--principal-font);
    font-size: 1.3rem;
}

.cartContainer .productValue .columnMenu button{
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.mobile-info{
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #222;
    border-top: 2px solid #222;
    padding: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mobile-info h3{
    margin-left: 8px;
    font-family: var(--principal-font);
}

.mobile-info button{
    height: 40px;
    background-color: #222;
    color: #fff;
    padding: 0px 16px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 800px) {
    .cartContainer{
        margin: 16px 0px;
    }
    .cartContainer .productsContainer{
        height: 80vh;
    }
    .cartContainer .productsContainer h2{
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    .cartContainer .productValue{
        display: none;
    }

    .mobile-info{
        display: flex;
    }
}