.homeContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.homeContainer .categorys{
    background-color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 16px 32px;
    margin-top: 16px;
}

.homeContainer .categorys .card-category{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.homeContainer .categorys ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 36px;
}

.homeContainer .homeContent{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    margin-top: 24px;
}

@media(max-width: 700px){
    .homeContainer .homeApresentation{
        width: 100%;
        height: 250px;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .homeContainer .homeApresentation img{
        width: 100px;
        margin-top: 100px;
    }

    .homeContainer .homeApresentation .textColumn span{
        font-size: 2rem;
    }

    .homeContainer .homeApresentation .textColumn span:nth-child(2){
        font-size: 2rem;
    }
}

