.productCard{
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    background-color: #fff;
    border-radius: 8px;
}

.productCard .productImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    width: 100%;
    height: 150px;
}

.productCard .productImage img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.productCard .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px 8px;
}

.productCard .info h2{
    height: 50px;
    font-size: 1.2rem;
    margin-top: 8px;
}

.productCard .info span{
    font-size: 14px;
    font-family: var(--principal-font);
    color: #058c42;
}

.productCard .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
}

.productCard .btns button{
    width: 50px;
}

.productCard .btns .orangeBtn{
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
    overflow-x: hidden;
}

.productCard .btns .activeButton{
    border-color: #058c42;
}

.productCard .btns .iconBtn{
    border-radius: 8px;
    padding: 4px;
}
.productCard .btns .iconBtn svg{
    font-size: 24px;
}

.moveCart:hover svg{
    animation: startMove .8s linear;
  }

@keyframes startMove{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(40px);
    }
    40%{
        color: #fff;
    }
    50%{
        color: #fff;
        transform: translateX(0px);
    }
    66%{
        color: #fff;
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}

