.productCard{
    width: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    background-color: #fff;
    border-radius: 8px;
}

.productCard .productImage{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    padding: 8px;
    position: relative;
}

.productCard .productImage .infoBtn{
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: var(--active-color);
    color: #fff;   
    top: 0px;
    right: 0px; 
}

.productCard .productImage img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.productCard .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3px 8px;
    gap: 8px;
}

.productCard .info h2{
    font-size: 1rem;
    margin-top: 8px;
}

.productCard .info span{
    font-size: 14px;
    font-family: var(--principal-font);
    color: #058c42;
}

.productCard .btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
}

.productCard .btns .iconBtn.active{
    background-color: #ffa600;
    color: #fff;
}

.productCard .btns button{
    width: 50px;
}

.productCard .btns .orangeBtn{
    border-radius: 8px;
    font-size: 14px;
    padding: 4px;
    overflow-x: hidden;
}

.productCard .btns .activeButton{
    border-color: #058c42;
}

.productCard .btns .iconBtn{
    border-radius: 8px;
    padding: 4px;
}
.productCard .btns .iconBtn svg{
    font-size: 24px;
}

@media(max-width: 800px){
    .productCard{
        width: 150px;
    }
    .productCard .productImage img{
        width: 200px;
        height: 100px;
    }
}
