@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    gap: 32px;
    background-color: #222;
}

header .linkList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0px 16px;
    overflow-x: hidden;
}

header .linkList a{
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    overflow-x: hidden;
    transition: .6s ;
    gap: 24px;
}

header .linkList a.active{
    width: 100px;
    gap: 8px;
}

header .linkList a.home.active{
    width: 80px;
}

header .linkList a.cart.active{
    width: 110px;
}