.products-container{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #fff;
    border-radius: 25px;
    padding: 24px;
}

.products-container .search-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 8px 32px;
}

.products-container .search-container label, .products-container .search-container .priceButtons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products-container .search-container .priceButtons .row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.products-container .search-container .priceButtons .row button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color: #aaa;
    transition: .4s;
    padding: 0px 8px;
    max-width: 130px;
    height: 32px;
}

.products-container .search-container .priceButtons .row button.active{
    background-color: var(--active-color);
    color: #fff;
    transition: .4s;
}

.products-container .search-container span{
    font-family: var(--principal-font);
}

.products-container .search-container label input, .products-container .search-container label select{
    height: 30px;
    padding: 4px 2px;
    border: 2px solid orange;
    border-radius: 4px;
}

.products-container .products-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    overflow-y: auto;
}
